.admonition, details.tip {
    background-color: rgba(var(--bs-body-color-rgb), 0.02);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius-lg);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.admonition .tip {
    background-color: rgba(var(--bs-danger-rgb), 0.03);
}

.admonition-title, .tip summary {
    align-items: center;
    background-color: rgba(var(--bs-body-color-rgb), 0.03);
    border-bottom: var(--bs-border-width) solid var(--bs-border-color-translucent);
    display: flex;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
}

.tip .admonition-title:before, .tip summary:before {
    content: "\F432";
    font-family: "bootstrap-icons" !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    margin-right: 0.5rem;
}

.tip summary:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    line-height: 0;
    margin: 0 0 0 auto;
    text-align: right;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.tip summary {
    border-bottom: unset;
}

[open].tip summary {
    border-bottom: var(--bs-border-width) solid var(--bs-border-color-translucent);
}

[open].tip summary:after {
    transform: rotate(90deg);
}

.tip summary::marker {
    content: "";
}

.admonition-title + p {
    margin: 0;
    padding: 0.5rem 0.75rem;
}

summary + p {
    margin: 0;
    padding: 0.5rem 0.75rem;
}

/* Lab Activity Styling */

.activity summary strong {
    font-weight: 600;
    margin-right: 0.5rem;
}

.activity summary {
    align-items: center;
    color: rgb(var(--bs-body-color-rgb));
    display: inline-flex;
    font-size: 1.35rem;
    font-weight: lighter;
    line-height: 0;
    margin-bottom: 0;
    text-align: left;
}

.activity {
    background: rgba(var(--bs-body-color-rgb), 0.03);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius-xl);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.activity summary {
    display: flex;
    justify-content: start;
    align-items: center;
}

.activity summary:after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    line-height: 0;
    margin: 0 0 0 auto;
    text-align: right;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.activity summary::marker {
    content: "";
}

[open].activity summary:after {
    transform: rotate(90deg);
}

.activity p {
    margin: 0 0 0 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.activity p:last-of-type {
    padding-bottom: 0;
}

.activity .tip summary {
    font-size: unset !important;
    font-weight: unset;
}

.activity .tip p {
    margin: 0 0 0 0;
    padding: 0.5rem;
}