[build-system]
requires = ["setuptools==68.2.2"]
build-backend = "setuptools.build_meta"
[project]
name = "app-store-scraper-mod"
version = "0.3.9"
authors = [
  { name="Ashok", email="engineering@seiright.com" },
]
description = "Fork of cowboy-bebug: App Store Scraper with updated dependencies."
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
Homepage = "https://github.com/pypa/sampleproject"
Issues = "https://github.com/pypa/sampleproject/issues"