[tool.black]
line-length = 110

[tool.mypy]
no_implicit_optional = false
ignore_missing_imports = true
show_error_codes = true 
disable_error_code = "assignment"



[tool.poetry]
name = "bitcoin-nostr-chat"
version = "0.1.1"
authors = ["andreasgriffin <andreasgriffin@proton.me>"]
license = "GPL-3.0"
readme = "README.md"
description = "A Nostr Chat with participant discovery"
homepage = "https://github.com/andreasgriffin/bitcoin-nostr-chat"

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
nostr-sdk = "0.10.0"
bitcoin-qrreader = "^0.8.8"
cbor2 = "^5.6.3"
requests = "^2.31.0"
pyqt6 = "^6.6.1"



[tool.poetry.group.dev.dependencies]
pytest = "^6.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
