body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.article-content {
    background: rgba(var(--bs-body-color-rgb), 0.03);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius-xl);
    padding: 1rem;
}

.wrapper {
    background: rgba(var(--bs-body-color-rgb), 0.03);
    border: var(--bs-border-width) solid var(--bs-border-color-translucent);
    border-radius: var(--bs-border-radius-xl);
    padding: 1rem;
    margin-bottom: 1rem;
}

.wrapped {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}